# Python env
venv/

# Data
data/raw/
data/processed/

# Models
models/

# Dashboard artifacts
visualization/

# Database URL and PASSWORD
.env

# Caches & checkpoints
__pycache__/
.ipynb_checkpoints/

# Editor / OS
.vscode/
*.py[cod]
.DS_Store